<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.AuthorMapper">
    <resultMap type="com.itheima.po.Author" id="resultMap">
      <id property="id" column="id"/>
      <result property="name" column="name"/>
      <result property="likes" column="likes"/> 
      <result property="follows" column="follows"/> 
      <result property="articles" column="articles"/> 
         
      <result property="signature" column="signature"/>
    </resultMap>

	

	
	<select id="findAuthorByName" parameterType="String"
		resultType="com.itheima.po.Author">
			select * from newsAuthors where name=#{name}
	</select>
	
	
	<insert id="insertAuthor" parameterType="com.itheima.po.Author"  >
	insert into newsAuthors(name,likes,follows,articles)  values(#{name},#{likes},#{follows},#{articles})
  	</insert>
  	
  	<update id="updateAuthor" parameterType="com.itheima.po.Author">
  			update newsAuthors set name=#{name},likes=#{likes},follows=#{follows},articles=#{articles} where name=#{name};
  	</update>
  	
  	
</mapper>
